.ui.borderless.topmenu.menu {
  border: none;
  box-shadow: none;
}

.grad-background {
  background: url('http://murphyshawaii.com/media/2014/04/murphys-front.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
}

.colorblocktop {
  padding-top: 20px;
}

.grid-image {
  padding-top: 150px;
}

.grid-para {
  color: white;
  text-align: center;
  padding-top: 200px;
}

.footer-background {
  background-color:  #004030;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}